<header class="main-header">
    <!-- Logo -->
    <a  class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>PK</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Park</b>Admin</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i> Profile
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">Choisir des différents options</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li><!-- start message -->
                                    <a href="{{ path('edit_profile') }}">
                                        <div class="pull-left">
                                            <i class="fa fa-user-circle"></i>
                                        </div>
                                        <h4>
                                            Profile
                                        </h4>
                                        <p>Modifier votre profile</p>
                                    </a>
                                </li>
                                <!-- end message -->
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        <div class="pull-left">
                                            <i class="fa fa-sign-out"></i>
                                        </div>
                                        <h4>
                                            Se déconnecter
                                        </h4>
                                        <p>Quitter la platforme</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>