<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Menu accés Rapide</li>
            <li>
                <a href="{{ path('homepage') }}">
                    <i class="fa fa-dashboard"></i> <span>Acceuil</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="{{ path('user_index') }}">
                    <i class="fa fa-users"></i> <span>Gestion des utilisateurs</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="">
                    <i class="fa fa-edit "></i> <span>Editeur de rapports</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-tasks"></i> <span>Gestion des missions</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-car"></i> <span>Gestion des Véhicules</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-user-secret"></i> <span>Gestion des chauffeurs</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-flask"></i> <span>Gestion des carburants</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-credit-card"></i> <span>Gestion des Cartes</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-bullseye"></i> <span>Gestion des Sites</span>
                    <span class="pull-right-container">
                         <i class="fa fa-angle-right pull-right"></i>
                    </span>
                </a>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>